


:root {
    --background: #000 ;
    --chat : #FE3C72;
    --details:#FE4357;
    --text:#fff;

}

/* details section */
.details {


  background-color:var(--details);
  border-bottom-left-radius:6px;
  border-bottom-right-radius: 6px;
  padding: 0.4rem;
 

}


.home__avatar img {
 width: 30px;
 height: 30px;
 border-radius: 50%;
}

.home__logo img {

width: 30px;
 height: 30px;
 border-radius: 50%;
}

.home__chat i {

    font-size: 30px;
     
}



nav {

      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.7rem;
}




.card__image {

    position: relative;
    /* width:600px; */
    max-width:60vw;
    /* height: 60vh; */
    padding:20px;
    border-top-right-radius: 6px;
    border-top-left-radius:6px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../../assets//images/Crying_Face_Emoji_large.png');
    width: 200px;
	height: 200px;
	object-fit: cover;
	object-position: 50% 50%;
    
}

.swipe {
     position: absolute;
     /* border-radius: 18px; */
}
 
.home__cards {

      display: flex;
      justify-content: center;
      
      
      
}

.chat__icon {
      color: var(--chat);
      font-size: 1rem;
}

.details1 p {

      text-align: center;
      font-size: 1rem;
      font-weight: 700;
      
}

.details2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.details2 span {
      font-size:0.8rem;
      margin:0.5rem;
}

.details1 a {
     text-decoration: none;
     color: var(--background);
}

.defaultindercard__container {
    background-color: var(--card);
     padding: 0.3rem;
     border-radius: 8px;
     box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width : 550px){

    .home__cards {

        margin-top: 4vh;
  }

  .card__image {

    position: relative;
    /* width:600px; */
    max-width:50vw;
    /* height: 60vh; */
    padding:13px;
    border-radius: 18px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-image: url('../assets//images/undraw_couple_re_94tl.svg'); */
    width: 150px;
	height: 200px;
	object-fit: cover;
	/* object-position: 50% 50%; */
    
}

}