
:root {
    --background: #000 ;
    --chat : #FE3C72;
    --details:#FAF9F6;
}

/* details section */
.details {


  background-color:var(--details);
  border-bottom-left-radius:6px;
  border-bottom-right-radius: 6px;
  padding: 0.4rem;

}


.home__avatar img {
 width: 30px;
 height: 30px;
 border-radius: 50%;
}

.home__logo img {

width: 30px;
 height: 30px;
 border-radius: 50%;
}

.home__chat i {

    font-size: 30px;
     
}


.left {
     color: red;
}
nav {

      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.7rem;
}




.card__image {

    position: relative;
    /* width:600px; */
    max-width:60vw;
    /* height: 60vh; */
    padding:20px;
    border-top-right-radius: 6px;
    border-top-left-radius:6px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-image: url('../assets//images/undraw_couple_re_94tl.svg'); */
    width: 200px;
	height: 200px;
	object-fit: cover;
	object-position: 50% 50%;
    
}

.swipe {
     position: absolute;
     /* border-radius: 18px; */
}
 
.home__cards {

      display: flex;
      justify-content: center;
      
      
      
}

.chat__icon {
      color: var(--chat);
      font-size: 1rem;
}



@media screen and (max-width : 550px){

    .home__cards {

        margin-top: 4vh;
  }

  .card__image {

    position: relative;
    /* width:600px; */
    max-width:50vw;
    /* height: 60vh; */
    padding:13px;
    border-radius: 18px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-image: url('../assets//images/undraw_couple_re_94tl.svg'); */
    width: 150px;
	height: 200px;
	object-fit: cover;
	/* object-position: 50% 50%; */
    
}

}